*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    padding: 20px;
}
.container{ 
    height:100vh;
    /* width:100vw; */
    display:flex;
    justify-content:center;
    align-items: center;


}

.card{
    background-color: hsl(0, 0%, 100%);
    width: 100%; 
    max-width: 310px;
    border-radius: 15px;
    padding: 15px;
    /* box-sizing: border-box; */
}

.card img{
    /* height: 280px; */
    /* width: 280px; */
    max-width:100%;
    border-radius: 15px;
}

.text{
    font-family: 'Outfit', sans-serif;
    text-align: center;

}

.text h2{
    font-size: 22px;
    font-weight:700;
    padding-top: 10px;
    padding-bottom: 10px;
    /* box-sizing: border-box; */
}
.text p{
    font-size: 15px;
    font-weight: 400;
    padding: 10px;
    color: hsl(220, 15%, 55%);
}

@media screen and (max-width: 219px) {
    body {
        padding: 10px; /* Reduce padding for smaller screens */
    }
    .card {
        padding: 10px; /* Reduce padding for smaller screens */
    }
}
